* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu__li {
  padding-left: 25px;
  margin-top: 8px;
}

.menu__li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.name {
  font-family: "Courgette", cursive;
  font-size: 84px;
  margin-top: 160px;
  position: relative;
}
.subtitle {
  font-size: 20px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin-bottom: 260px;
}
#particles-js {
  position: absolute;
  width: 95%;
  min-width: 100vh;
}
.intro {
  background-color: #222222;
}
.AboutText {
  color: White;
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
  font-size: 50px;
  letter-spacing: 2px;
}
.myimage img {
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 60px;
}
.vl {
  border-left: 1px solid grey;
  height: 400px;
  margin-left: -30px;
  margin-top: 30px;
}
.aboutPart p {
  color: white;
  margin-top: 55px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.col-md-10 {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
}
.SkillsTxt {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  font-size: 50px;
  letter-spacing: 2px;
}
.languageTextpart {
  font-size: 40px;
  margin-top: 70px;
  text-decoration: none;
}
.languagesImg {
  display: flex;
  margin-top: 60px;
}
.languagesImg2 {
  display: flex;
}
.languagesImg li {
  padding: 15px;
}
.languagesImg2 li {
  padding: 15px;
}
#work {
  background-color: #222222;
}
.workTxt {
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  font-size: 50px;
  letter-spacing: 2px;
}
.hover-card:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.overlay {
  opacity: 0;
  position: absolute;
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  transition: opacity 0.3s ease-in-out;
}
.ProjectBTN {
  padding: 10px 20px 10px 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
}
.ProjectBTN:hover {
  color: white;
}
.Projecttextnone {
  text-decoration: none;
  color: white;
}
.card__project {
  text-decoration: none;
}
.contact {
  background-color: #222222;
  border-radius: 18px;
}
.contact a {
  border: 2px solid white;
}
.contact a {
  border-radius: 14px;
}
.contactText {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  font-size: 40px;
  letter-spacing: 2px;
}
.footerNameText {
  margin-top: 100px;
  margin-bottom: -50px;
}
/* Media Queries */

/* 320px — 480px */
@media only screen and (max-width: 768px) {
  .menu__li {
    margin-left: -8px;
  }
  .subtitle {
    padding-left: 10px;
  }
  .myimage {
    margin-top: -30px;
    margin-left: 100px;
  }
  .vl {
    border-left: 1px solid grey;
    height: 300px;
    transform: rotate(90deg);
    margin-left: -30px;
    margin-top: 80px;
  }
  .aboutPart {
    margin-top: -380px;
    font-size: 10px;
    padding-left: 5px;
  }
  #particles-js {
    position: absolute;
    min-width: 100%;
    width: 100%;
    height: 90%;
  }
  #skills {
    height: 1100;
  }
}
@media (max-width: 500px) {
  .languageTextpart {
    font-size: 30px;
    margin-top: 30px;
  }
}
